@model DataTable;
@using System.Data

<div class="d-flex justify-content-between align-items-center mb-3">
    <div></div> <!-- Placeholder for flex alignment -->
    <a class="btn btn-primary" asp-area="" asp-controller="Bills" asp-action="Form">
        <i class="bi bi-plus-lg"></i> Add
    </a>
</div>

<h6 class="text-danger">@TempData["Error Message"]</h6>

<table class="table">
    <thead>
        <tr>
            <th>BillID</th>
            <th>BillNumber</th>
            <th>BillDate</th>
            <th>OrderID</th>
            <th>Total Amount</th>
            <th>Discount</th>
            <th>Net Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dataRow in Model.Rows)
        {
            <tr>
                <td>@dataRow["BillID"]</td>
                <td>@dataRow["BillNumber"]</td>
                <td>@dataRow["BillDate"]</td>
                <td>@dataRow["OrderID"]</td>
                <td>@dataRow["TotalAmount"]</td>
                <td>@dataRow["Discount"]</td>
                <td>@dataRow["NetAmount"]</td>
                <td>
                    <div class="d-flex">
                        <a asp-area="" asp-controller="Bills" asp-action="Form" asp-route-BillID="@dataRow["BillID"]"  class="btn btn-outline-warning btn-sm me-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form method="post" asp-controller="Bills" asp-action="BillDelete">
                            <input type="hidden" name="BillID" value="@dataRow["BillID"]" />
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
